.contenedor{
    background-color:black;
    flex-direction: row;
    width: 960px;
    margin: auto;
    height:640px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin: 15px;
    font-weight: 400px;
}

.imagenes{
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    
}
   

img {
    width: 200px;
    height: 200px;
    margin: 26px;
    object-fit: cover;

}

img:hover{
    opacity: .5;
    transition: .9s;

}
